html
body
  height 100%

body
  display flex
  flex-direction column

a,
a:hover
a:focus
a:active
  color #fff
  text-decoration none
  transition all .4s

a:hover
button:hover
  cursor pointer

a,
button
label
input
select
  outline none

.hidden
  display none

.d-flex
  display flex !important

.img-responsive
  display block
  width 100%
  height auto
  object-fit cover
  object-position 0 0

.error-message
  color rgb(255, 0, 0)

.hero_color_start
  border-color #fc5095
  color #fc5095

.hero_color_options
  border-color #fcc150
  color #fcc150

.hero_color_form
  border-color #1da7c0
  color #1da7c0

.hero_color_success
  border-color rgba(35, 140, 35, 1)
  color rgba(35, 140, 35, 1)