.content
  padding 25px 40px

  &__title
    font-size 18px
    font-weight 700
    text-transform uppercase
    letter-spacing 0.25px

    &_start
      color #fc5095

    &_options
      color #fcc150

    &_form
      color #1da7c0

    &_success
      color rgba(35, 140, 35, 1)

  &__subtitle
    margin-top 15px

    font-weight 700
    text-transform uppercase
    color #3b3b3b
    letter-spacing 0.38px

  &_bg_start
      background-color #f6f5f5