.hero
  position relative
  padding-top 40px
  padding-bottom 12px

  &_bg_start
    background-color #fc5095

  &_bg_options
    background-color #fcc150

  &_bg_form
    background-color #1da7c0;

  &_bg_success
    background-color rgba(35, 140, 35, 1)

  &__icon-heart
    position absolute
    bottom -16px
    left 40px

.icon-heart
  display flex
  justify-content center
  align-items center

  width 40px
  height 40px

  font-size 1.3rem
  background-color #fff
  border-width 4px
  border-style solid
  border-radius 50%
  z-index 100