.overlay
  position absolute
  top 0
  left 0

  display flex
  flex-direction column
  justify-content center
  align-items center

  width 100%
  height 100%

  text-align center

  &_bg_options
    background-color rgba(252, 193, 80, .7)

.overlay-info
  &__title
  &__description
    color #fff
    font-weight 900
    text-transform uppercase

  &__title
    font-size 108px

  &__description
    font-size 18px