.interaction
  margin-top 50px

.interaction-start
  &__title
    color #3b3b3b
    font-size 22px
    font-weight 700
    text-transform uppercase

  &__btn
    margin-top 15px

.interaction-options
  text-align center

  .options-group
    display flex
    flex-direction column

    &__btn:not(:first-of-type)
      margin-top 8px

  &__btn
    margin-top 80px

.interaction-registration-form
  margin-top 15px