@media only screen and (min-width: 769px)
  .card
    flex-direction row
    flex 1 0 auto

  .card__hero
    flex 3
    padding 0

  .hero__logo
    height 100% !important

  .card__content
    flex 2
    padding 55px
    padding-top 80px
    border-top 140px solid #fc5095
    border-left 12px solid #fc5095

  .icon-heart
    top 200px
    left auto
    right -36px

    width 60px
    height 60px

    font-size 1.7rem
    border-width 9px

@media only screen and (max-width: 400px)
  .registration-form .options-group__btn
    max-width 133px

@media only screen and (max-width: 359px)
  .overlay-info__title
    font-size 5rem

  .registration-form .options-group__btn
    padding 10px
    max-width 110px

    .icon-text
      font-size .8rem