.options-group
  display flex

  &__btn
    padding 15px 20px

    color #152935
    border 1px solid #d3d3d3
    border-radius 10px

  &__btn:hover
  .input-radio:checked + .options-group__btn
    color #fff
    background-color #fcc150

  .input-radio
    display none

  .icon-text
    display inline-flex
    margin-left 15px
    font-weight 600